@font-face{
    font-family: 'lato-300';
    src: url('fonts/LatoLatin-Light.woff2') format('woff2'),
    url('fonts/LatoLatin-Light.woff') format('woff'),
    url('fonts/LatoLatin-Light.ttf') format('ttf'),
    url('fonts/LatoLatin-Light.eot') format('eot');
}
@font-face{
    font-family: 'lato-400';
    src: url('fonts/LatoLatin-Regular.woff2') format('woff2'),
    url('fonts/LatoLatin-Regular.woff') format('woff'),
    url('fonts/LatoLatin-Regular.ttf') format('ttf'),
    url('fonts/LatoLatin-Regular.eot') format('eot');
}
@font-face{
    font-family: 'lato-900';
    src: url('fonts/LatoLatin-Black.woff2') format('woff2'),
    url('fonts/LatoLatin-Black.woff') format('woff'),
    url('fonts/LatoLatin-Black.ttf') format('ttf'),
    url('fonts/LatoLatin-Black.eot') format('eot');
}

body{
    background-color: #fcf0bb;
    margin: 0
}

h1{
    font-family: 'lato-900';
    font-size: 12vmin;
    text-align: center;
    padding: 3vmin 0;
    margin: 0 0 2vmin 0;
    color: #582818;
    background-color: #c65937;
}
h2{
    font-family: 'lato-900';
    font-size: 5vmin;
    text-align: center;
    margin: 0;
    padding: 3vmin 0;
    /*margin: 0 0 2vmin 0;*/
    color: #582818;
    background-color: #c65937;
}

p, label{
    color: #34495e;
    font-family: 'lato-400';
    text-align: center;
    font-size: 4vmin;
    margin: 1vmin auto;
    max-width: 100vmin;
}

input[type="text"]{
    display: block;
    font-family: 'lato-300';
    font-size: 4vmin;
    appearance: none;
    border: 0px;
    color: #2c3e50;
    background-color: #bdc3c7;
    padding: 2vmin;
    border: 4px solid #bdc3c7;
    text-align: center;
    margin: 1vmin auto;
    transition: all 0.3s ease;
}
input[type="text"]:hover{
    background-color: #dde0e2;
    border: 4px solid #dde0e2;
}
input[type="text"]:focus{
    background-color: #ecf0f1;
    border: 4px solid #dde0e2;
}

button{
    display: block;
    margin: auto;
    font-family: 'lato-300' !important;
    font-size: 4vmin !important;
    appearance: none;
    border: 0;
    color: #ecf0f1;
    background-color: #c0392b;
    padding: 2.5vmin;
    transition: all 0.3s ease;
}
button:hover{
    background-color: #e74c3c;
}

#game-selection{
    font-size: 2.5vmin;
}

#board{
    width: 95vw;
    height: 23.75vw;
    position:relative;
}
#board .background{
    width: 100%;
    position: absolute;
}

.house{
    margin-top: -5vw;
    margin-left: -5vw;
    width: 10vw;
    height: 10vw;
    position: absolute;
}
.seedbox{

}
.seed{
    width: 2vw;
    height: 2vw;
    margin: 0.2vw;
    background-color: #582818;
    border-radius: 50%;
    display: inline-block;
}

.seed.new{
    transform: scale(0);
    animation: appear 0.2s ease-in;
    animation-fill-mode: forwards;
}
.seed.deleted{
    animation: appear 0.2s ease-in;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.own{
    cursor: pointer;
}

.own .active{
    /*background-color: #73351f;
    box-shadow: 0 0 0 0.2vw #73351f;*/
}
@keyframes appear{
    0% {
        transform: scale(0)
    }
    100%{
        transform: scale(1)
    }
}

#error-box{
    background-color: #fcf7de;
    position: fixed;

    min-width: 40vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2vmin;
}
#error-box h2{
    margin: -2vmin -2vmin 2vmin -2vmin;
}

.blocker{
    position: fixed;
    background-color: rgba(0,0,0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;

}